.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 3rem;
    background-color: azure;
    border: 3px solid rgb(17, 87, 119);
}
.logo {
    margin: 5px;
}
.login {
    display: flex;
    background-color: rgb(159, 224, 224);
    width: 25rem;
    height: 3rem;
    border: 3px solid rgb(17, 87, 119);
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}